body
{
	background-color: #13D64E;
  	min-width: 500px;
}

p, ul, li
{
	font-family: 'Comic Sans', sans-serif;
    font-style: oblique;
    font-weight: 200;
    line-height: 200%;
}

h1
{
	text-align: center;
	font-size: 4em;
    color: black;
}

h2
{
	color: #9C7F02;
	font-size: 2em;
    margin-top: 1em;
	margin-bottom: 1em;
	border-bottom: solid 2px purple;
}

h3
{
    color: red;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
}
.content-body
{
	float: left;
	text-align: left;
	padding: 1% 1% 1% 1%;
	width: 75%;
}

.side-bar
{
	background-color: #282EDE;
	margin-left: 80%;
	position: fixed;
	text-align: left;
	border: 2px solid black;
	padding: 1%;
	min-height: 94%;
}

#banner
{
	background-color: #F0F016;
	border-radius: 20%;
}

#profile-pic
{
	width: 90%;
	display:block;
	margin:0 auto;
	border-radius: 50%;
}
