head
{
}

body
{
	background-color: #C6F7F7;
    border-left: 0.2em black solid;
    border-right: 0.2em black solid;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2em;
  	min-width: 500px;
}

h1, h2, h3, h4, h5, h6
{
    color: #9C7F02;
    margin: 1em;
    text-align: center;
}


/* Only Huckleberry has images and we uses .fig to change theme of those images
img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
*/

.fig
{
	display:block;
	margin:0 auto;
	border: 0.4em black solid;
}

/*
 * There is no figcaptions in any of these books...
 */
figcaption
{
	text-align: center;
	font-weight: bolder;
    padding: 0.2em;
    border: 0.4em black solid;
}

p
{
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 150;
    line-height: 150%;
}
